python-dotenv
telegraph
telethon
python-telegram-bot==20.6
python-telegram-bot[webhooks]
aiofiles
aiohttp==3.9.5
asyncio==3.4.3
tgcrypto
pykeyboard
python-dateutil

emoji
async_pymongo
##motor==3.0.0
#motor~=3.6
motor
pymongo
requests
beautifulsoup4
python-arq==6.0.7
chevron
cv-3
#gTTs
regex
apscheduler==3.10.4
pytz
pypdf2
gtts

pySmartDL
psutil
hachoir
Pillow==10.4.0

httpx[http2]
git+https://github.com/yasirarism/vcsi
git+https://github.com/yasirarism/iytdl
git+https://github.com/yasirarism/pyrofork
youtube_dl

deep-translator
pyrate_limiter
cachetools
cloudscraper
openai==1.3.2
GitPython

uvloop==0.19.0
lxml_html_clean

#=====api===
fastapi
PrivateBinAPI
nekos.py
anime-api==1.0.1
lexica-api
HorridAPI
#==========

uvicorn
python-multipart
unidecode
gitpython
bs4
google-generativeai
ffmpeg-python
ffmpeg==1.4

dnspython
lottie
natsort
lxml
html5lib

jikanpy
tracemoepy
emoji
emojis
pyfiglet
spotdl==4.2.1
tpblite==0.8.0
redgifs==1.7.2
opencv-python-headless==4.8.0.76
wikipedia
lyricsgenius
tqdm
webcolors
vanitas-antispam

qrcode
